<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Comment Like/Dislike App</title>
    <link rel="stylesheet" href="./style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <header>Comment Like/Dislike App</header>
    <div id="app">
        <div class="container">
            <div class="comment--like--dislike--app">
                <div v-if="comments.length > 0">
                    <div class="card mb-10 comment--item" v-for="comment in comments">
                        <p>
                            {{comment.text}}
                        </p>
                        <div class="action--button--container text-right mt-10">
                            <button class="btn-sm btn-success" @click="likeComment(comment)">Beğendim ({{comment.likes}})</button>
                            <button class="btn-sm btn-danger" @click="dislikeComment(comment)">Beğenmedim ({{comment.dislikes}})</button>
                        </div>
                    </div>
                </div>
                <div v-else class="alert alert-danger">Yorum bulunamadı...</div>
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>
